* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
}

header {
    background-image: url(images/pattern-bg.png);
    height: 30vh;
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    color: white;
    text-align: center;
    padding-top: 40px;
    font-family: 'Rubik', sans-serif;
}

.searchbar {
    width: 30%;
    height: 6vh;
    margin: 0 auto;
    border-radius: 20px;
}

.box {
    width: 100%;
    text-align:center;
    position: relative;
}

button { 
    position: absolute;
    top: 0;
    border-radius: 15px;
    right: 0px;
    z-index: 1;
    border: none;
    top: 2px;
    height: 55px;
    cursor: pointer;
    color: white;
    background-color: black;
    clear: right;
    transform: translateX(2px);
    /* margin-top: 5px; */
    padding: 13px;
}