* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(images/pattern-bg.png);
    height: 30vh;
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    color: white;
    text-align: center;
    padding-top: 40px;
}

.searchbar {
    width: 30%;
}